name: Run Bash Script and Linux Commands

# on: [push, pull_request]
on: [pull_request]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up permissions
      run: chmod +x app_script.sh

    - name: Run bash script
      run: ./app_script.sh

    - name: Run additional Linux commands
      run: |
        echo "Current date and time:"
        date
        echo "System uptime:"
        uptime
